# 1. Perulangan/looping

In [1]:
#SINTAKS FOR
# range(start,end,step)
for i in range(0,10,2):
    print(i,"=",i**2)

0 = 0
2 = 4
4 = 16
6 = 36
8 = 64

In [2]:
#SINTAKS WHILE
i = 0
while i<10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9

# 2. List

In [5]:
# Deklarasi List

#Dapat Berisi Angka
nilai = [30,40,50,60,70,80,90]
print(nilai)

#Dapat berisi String
peserta = ['Ani','Budi','Catra','Desi']
print(peserta)

#Dapat juga berisi campuran tipe data
campuran = ['Big',2.5, 90, 'Data']
print(campuran)

[30, 40, 50, 60, 70, 80, 90]
['Ani', 'Budi', 'Catra', 'Desi']
['Big', 2.5, 90, 'Data']

## 2.1 List Index

In [6]:
print(nilai[0])
print(nilai[4])
print(nilai[-1])
print(nilai[-3])

print(peserta[-2])

30
70
90
70
Catra

## 2.2 Menambah Elemen ke Dalam List

In [7]:
nilai.append(40)
print(nilai)

[30, 40, 50, 60, 70, 80, 90, 40]

## 2.3 Slicing List

In [8]:
# elemen ke 3 sampai ke 5
print(nilai[2:5])

# ...
print(nilai[:-5])

# ...
print(nilai[5:])

# ...
print(nilai[:])

[50, 60, 70]
[30, 40, 50]
[80, 90, 40]
[30, 40, 50, 60, 70, 80, 90, 40]

## 2.4 Perulangan dalam List

In [9]:
for n in nilai:
    print(n)

# Mengikutkan Indeksnya
for i,n in enumerate(nilai):
    print(i,n)

30
40
50
60
70
80
90
40
0 30
1 40
2 50
3 60
4 70
5 80
6 90
7 40

### contoh

In [10]:
# ALGORITMA RATA-RATA
total = 0
for n in nilai:
    total = total + float(n)
    
rata = total / len(nilai)
print(rata)

57.5

# Lookup Nilai dalam List

In [11]:
n = 90
if n in nilai:
    print(n, "ada dalam list")
else:
    print(n, "tidak ada dalam list")

90 ada dalam list

## 2.5 Latihan

In [12]:
for n in nilai:
    if n>=rata:
        print(n)

60
70
80
90

# 3. Tuple

In [13]:
# Deklarasi Tuple
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

## 3.1 Akses Elemen dan Slicing

In [14]:
print(bulan[0])
print(bulan[4])
print(bulan[-1])
print(bulan[-3])

Januari
Mei
Desember
Oktober

In [15]:
print(bulan[2:5])

print(bulan[:-5])

print(bulan[5:])

print(bulan[:])

('Maret', 'April', 'Mei')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli')
('Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')
('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

## 3.2 Perulangan dalam Tuple

In [16]:
for b in bulan:
    print(b)

Januari
Februari
Maret
April
Mei
Juni
Juli
Agustus
September
Oktober
November
Desember

# 4. Dictionary

## 4.1 Membuat dan Mengakses Dictionary

In [17]:
siswa = {'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
siswa2 = {'Nama': 'Ani', 'Umur': 8, 'JenisKelamin': 'Perempuan'}
print(siswa)
print(siswa['Nama'])
print(siswa['Umur'])
print(siswa['JenisKelamin'])

list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)
print(list_siswa[0])

{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}
Budi
7
Laki-Laki
{'Nama': 'Budi', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

## 4.2 Mengubah nilai Dictionary

In [18]:
siswa['Nama'] = 'Deni'
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'JenisKelamin': 'Laki-Laki'}

## 4.3 Menambahkan Elemen

In [19]:
siswa['Alamat'] = "Jl. Kaliurang KM 5"
print(siswa)

{'Nama': 'Deni', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5'}

In [20]:
# List sebagai nilai dari elemen Dictionary
siswa["Nilai"] = nilai
print(siswa)

for n in siswa["Nilai"]:
    print(n)

{'Nama': 'Deni', 'Umur': 7, 'JenisKelamin': 'Laki-Laki', 'Alamat': 'Jl. Kaliurang KM 5', 'Nilai': [30, 40, 50, 60, 70, 80, 90, 40]}
30
40
50
60
70
80
90
40

In [21]:
for l in list_siswa:
    print("============")
    for k,v in l.items():
        print(k,v)

============
Nama Deni
Umur 7
JenisKelamin Laki-Laki
Alamat Jl. Kaliurang KM 5
Nilai [30, 40, 50, 60, 70, 80, 90, 40]
============
Nama Ani
Umur 8
JenisKelamin Perempuan

# 5. Operasi String

## 5.1 Slicing dan Akses per Karakter

In [22]:
nama = "Tutorial Bahasa Pemrograman Python"
print(nama[0:6])
print(nama[20:30])

Tutori
ograman Py

In [23]:
for n in nama:
    print(n)

T
u
t
o
r
i
a
l

B
a
h
a
s
a

P
e
m
r
o
g
r
a
m
a
n

P
y
t
h
o
n

## 5.2 Merubah String menjadi list Kata

In [24]:
kata = nama.split()
print(kata)
print(kata[0])
print(kata[2])

paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
kalimat = paragraf.split(".")
print(kalimat)
print(kalimat[2])

['Tutorial', 'Bahasa', 'Pemrograman', 'Python']
Tutorial
Pemrograman
['Pada hari minggu kuturut ayah ke kota', ' Naik Delman istimewa kududuk di muka', ' Duduk disamping pak kusir yang sedang bekerja']
 Duduk disamping pak kusir yang sedang bekerja

## 5.3 Pencarian kata dalam String

In [25]:
cari = 'Pythonn'
if cari in nama:
    print("Found!")
else:
    print("Not Found!")

Not Found!

## 5.4 Replace String

In [26]:
paragraf = "Pada hari minggu kuturut ayah ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja"
paragraf = paragraf.replace('minggu','senin')
paragraf = paragraf.replace('ayah','ibu')
print(paragraf)

Pada hari senin kuturut ibu ke kota. Naik Delman istimewa kududuk di muka. Duduk disamping pak kusir yang sedang bekerja

## 5.5 Panjang String, Lowercase, Uppercase

In [27]:
print(len(nama))
print(nama.upper())
print(nama.lower())

34
TUTORIAL BAHASA PEMROGRAMAN PYTHON
tutorial bahasa pemrograman python